div#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

div#cell {  
    display: table-cell;
    vertical-align: middle;

}
div#content {
    background-color: #EEEEEE; 
    border: 1px solid #f76a0c; 
    line-height: 2em; 
    border-radius: 7px; 
    width: 40%; 
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding: 30px;
    box-shadow: 0px 0px 8px #f76a0c;
    color: #444444;
}

h4 {
    color: gray;
}