@charset "UTF-8";
/*
kolory
1:	#f76a0c
2:	#c01d2e
3:	#f7c59f
4:	#efefd0
5:	#004e89
*/
/* ###################################### NAVBAR */
.admin-bar .nav-wrapper {
  top: 32px; }

.navbar.navbar-default {
  border: none;
  color: #333;
  border-radius: 0px; }

.navbar-nav li a {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transition: all 0.4s ease;
  color: #333 !important;
  font-size: 1.3em;
  letter-spacing: 1.1px;
  font-variant: small-caps;
  font-weight: 200;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.margin-fix {
  margin-right: 15px !important; }

ul.nav.navbar-nav.navbar-right {
  margin-right: 0; }

#navigation-alfa {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  background-color: white;
  height: 90px;
  transition: all 0.4s ease;
  margin-bottom: 0px; }
  #navigation-alfa li a {
    line-height: 80px !important; }
  #navigation-alfa img {
    height: 90px;
    transition: all 0.4s ease; }
  #navigation-alfa .navbar-nav > li > a:hover {
    border-top: 5px solid #f76a0c;
    color: #f76a0c;
    background-color: #fafafa; }
  #navigation-alfa.affix {
    background-color: rgba(255, 255, 255, 0.9) !important;
    height: 50px !important; }
    #navigation-alfa.affix img {
      height: 50px !important; }
    #navigation-alfa.affix li a {
      line-height: 40px !important; }

#navigation-beta {
  width: 100%;
  bottom: 0;
  margin-bottom: 15px;
  z-index: 100;
  transition: all 0.4s ease; }
  #navigation-beta li a {
    line-height: 40px;
    color: #eee !important; }
  #navigation-beta .navbar-nav > li > a:hover {
    border-bottom: 5px solid #f76a0c;
    color: #333 !important;
    background-color: #fafafa; }
  #navigation-beta.navbar.navbar-default {
    margin-bottom: 0;
    background-color: rgba(0, 78, 137, 0.9) !important; }
  #navigation-beta ul.nav.navbar-nav.navbar-right {
    margin-right: 15px; }
  #navigation-beta.affix {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 200; }
    #navigation-beta.affix ul.nav.navbar-nav.navbar-right {
      margin-right: 0; }

#navigation-mobile {
  display: none;
  width: 100%; }
  #navigation-mobile a {
    line-height: 10px;
    font-size: 1.4em;
    border: none;
    text-align: center; }
  #navigation-mobile img {
    height: 49px;
    margin-left: 15px; }
  #navigation-mobile ul {
    margin-top: 0;
    margin-bottom: 0; }
    #navigation-mobile ul li a {
      padding-top: 15px !important;
      padding-bottom: 15px !important; }
  #navigation-mobile .mobile-menu-primary a {
    background-color: rgba(255, 255, 255, 0.5) !important; }
  #navigation-mobile .mobile-menu-secondary a {
    background-color: rgba(0, 78, 137, 0.5) !important;
    color: #eee !important; }

.secondary-nav-pattern {
  background-color: #004e89 !important;
  margin-bottom: 15px; }

@media screen and (max-width: 1199px) {
  #navigation-alfa img {
    margin-top: 15px;
    height: 60px; }

  #navigation-alfa.affix img {
    margin-top: 0; }

  #masthead {
    margin-bottom: 120px; } }
@media screen and (max-width: 991px) {
  #navigation-alfa li a,
  #navigation-beta li a {
    font-size: 0.95em; }

  #navigation-alfa.sticky-nav li a,
  #navigation-beta.sticky-nav li a {
    font-size: 0.95em; }

  .margin-fix {
    margin-right: -15px !important; } }
@media screen and (max-width: 767px) {
  #navigation-alfa, #navigation-beta {
    display: none; }

  #navigation-mobile {
    display: block; }

  .extra-margin {
    margin-top: 0px; }

  .nav-wrapper {
    position: static; }

  #masthead {
    margin-bottom: 0px !important; } }
@media screen and (max-width: 320px) {
  #navigation-mobile img {
    margin-top: 3px;
    height: 45px; }

  #navigation-mobile ul li a {
    line-height: 20px;
    padding: 10px !important; } }
/* ###################################### FRONT-PAGE */
section.welcome-screen {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  min-height: 300px; }
  section.welcome-screen #navigation-mobile {
    position: absolute;
    top: 0;
    width: 100%; }
  section.welcome-screen .logo {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100; }
    section.welcome-screen .logo img {
      display: block; }
  section.welcome-screen .sentence {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    text-align: right;
    padding: 20px;
    padding-left: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    background: rgba(249, 106, 14, 0.75); }

section article#wspolnoty2 .wspolnota {
  margin-top: 10px;
  position: relative;
  min-height: 250px;
  background-image: url("http://www.img.erla.pl/da/podroz-do-betlejem2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top; }
  section article#wspolnoty2 .wspolnota .left {
    left: 10px; }
  section article#wspolnoty2 .wspolnota .right {
    right: 10px; }
  section article#wspolnoty2 .wspolnota .desc {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 60%;
    text-align: center;
    padding: 10px; }
    section article#wspolnoty2 .wspolnota .desc img {
      display: inline-block;
      width: 80px;
      transition: all 0.2s; }
    section article#wspolnoty2 .wspolnota .desc h2 {
      margin-top: 10px;
      font-variant: small-caps;
      color: #004E89; }
    section article#wspolnoty2 .wspolnota .desc .lead {
      color: #888;
      font-size: 20px;
      line-height: 25px; }
  section article#wspolnoty2 .wspolnota a:hover {
    text-decoration: none; }
    section article#wspolnoty2 .wspolnota a:hover img {
      transform: scale(1.1);
      box-shadow: 0px 0px 5px 3px #F76A0C; }
  section article#wspolnoty2 .wspolnota:last-child {
    margin-bottom: 30px; }

#main-container {
  margin-top: 105px; }

.admin-bar section.welcome-screen #navigation-alfa {
  top: 32px; }

.beta-sticked {
  position: fixed !important;
  bottom: auto !important; }

@media screen and (max-width: 991px) {
  section.welcome-screen {
    padding-top: 15px; } }
@media screen and (max-width: 767px) {
  #main-container {
    margin-top: 0; }

  .secondary-nav-pattern {
    display: none; }

  .navbar-collapse {
    overflow-y: visible !important; }

  .mobile-fix {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  section article#wspolnoty2 .wspolnota .desc {
    width: 100%; }
    section article#wspolnoty2 .wspolnota .desc .lead {
      line-height: 22px; }
  section article#wspolnoty2 .wspolnota .right {
    right: 0px; }
  section article#wspolnoty2 .wspolnota .left {
    left: 0px; } }
@media screen and (max-width: 600px) {
  section.welcome-screen .logo {
    width: 100px; }

  section.welcome-screen .sentence {
    font-size: 14px; } }
@media screen and (max-width: 425px) {
  section.welcome-screen .sentence {
    display: none; } }
@media screen and (max-width: 320px) {
  section.welcome-screen .logo {
    top: 25px;
    width: 70px; } }
#da-owl a {
  display: block;
  width: 100%;
  position: relative; }
  #da-owl a .title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(249, 106, 14, 0.75);
    color: #fff;
    font-size: 16px; }
  #da-owl a:hover .title {
    text-decoration: underline; }

article#current-issues ul {
  margin-left: 0;
  padding-left: 20px;
  list-style-type: none; }
  article#current-issues ul li {
    position: relative;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F96A0E; }
    article#current-issues ul li img {
      width: 30%;
      display: inline-block;
      padding: 10px;
      padding-top: 0; }
    article#current-issues ul li .issue-title {
      width: 70%;
      float: right;
      font-size: 14px; }
    article#current-issues ul li a {
      display: block; }
      article#current-issues ul li a:hover .issue-title {
        text-decoration: underline; }
      article#current-issues ul li a:after {
        content: '';
        display: block;
        clear: both; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: url("../imgs/cork-wallet.png") repeat;
  font-family: 'Roboto', sans-serif !important; }

.backstage-solid {
  background-color: #fafafa;
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -200; }

.backstage-pattern {
  background-color: #fafafa;
  min-height: 100%; }

article {
  outline: none; }

@media screen and (max-width: 768px) {
  .backstage-solid {
    /*width: 100%;*/ }

  .backstage-pattern {
    /*display: none;*/ } }
/* ####################################### MAIN LAYOUT */
article {
  padding-top: 10px;
  padding-bottom: 10px; }

article h1 {
  font-size: 2.6em;
  font-variant: small-caps;
  text-align: center;
  color: #f76a0c;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 6px;
  font-weight: 200;
  background-color: #efefd0;
  overflow: hidden; }

/*
color: #c01d2e;
	background-color: #efefd0;*/
article h2 {
  font-variant: small-caps;
  text-align: center;
  color: #004e89;
  margin-bottom: 20px; }

article .content {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.5;
  text-align: center; }

article a {
  border-bottom: 5px solid transparent;
  text-decoration: none !important; }

article a .content {
  padding: 10px;
  margin-bottom: 20px;
  transition: all 0.6s ease; }

article a:hover .content {
  text-decoration: none;
  box-shadow: 0px 0px 5px 1px #ccc;
  background-color: #fff; }

article h2 a:visited {
  color: #004e89; }

article#diakonie h2 {
  background-color: #efefd0;
  margin: 0px;
  padding: 5px 20px;
  color: #c01d2e; }

article#diakonie .content {
  border: 1px solid #ccc;
  margin-bottom: 20px; }

article#diakonie .excerpt {
  padding: 10px;
  background-color: #efefd0; }

article#diakonie .content .image {
  width: 100%;
  height: 90px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden; }

article#diakonie .content .image-wrapper {
  overflow: hidden; }

article#diakonie .content .image {
  transition: all 0.3s ease; }

article#diakonie .content:hover .image {
  transform: scale(1.05); }

article#poglebienie .img-container {
  display: inline-block;
  position: relative;
  margin-bottom: 20px; }

article#poglebienie .img-container img {
  width: 230px;
  display: block; }

article#poglebienie h2 {
  position: absolute;
  bottom: 30px;
  right: 0px;
  font-size: 1.2em;
  margin: 0px;
  padding: 5px 60px 5px 10px;
  color: #efefd0;
  font-variant: small-caps; }

article#poglebienie .hover-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: block;
  transition: all 0.2s; }

article#poglebienie a .img-container:hover .hover-background {
  display: block;
  opacity: 0.35; }

.color-orange {
  background-color: #f76a0c; }

.color-red {
  background-color: #c01d2e; }

.color-blue {
  background-color: #004e89; }

#youTube iframe {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px; }

.btn.btn-book {
  white-space: normal; }

.next-prev-menu {
  margin-left: -15px !important;
  margin-right: -15px !important; }

.next-prev-menu p {
  font-size: 12px !important; }

a.btn.btn-book {
  color: #555; }

a:visited.btn.btn-book {
  color: #555; }

.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important; }

/* ############################################## WIDGET AREA: COMMON */
.widget-area article h1 {
  font-size: 1.6em;
  color: #efefd0;
  background-color: #004e89;
  margin-left: 10px;
  margin-right: 10px; }

.widget-area img {
  margin: 0 auto;
  display: block; }

.widget-area h5 {
  font-size: 15px;
  line-height: 1.3em;
  text-align: left; }

h2.widget-title {
  font-weight: 200;
  font-style: italic;
  font-size: 1.4em; }

article a:visited {
  color: #337ab7; }

.widget-area .content {
  margin: auto 30px; }

.widget-area article,
.widget {
  background-color: #FAFAFA;
  padding: 10px;
  margin-bottom: 20px; }

@media screen and (max-width: 991px) {
  .widget-area {
    margin-top: 20px !important; } }
/* ############################################## WIDGET AREA: KOSZ S┼üOWA */
article#kosz-slowa p {
  border-left: 6px solid #f76a0c;
  /*border-bottom: 1px solid #f76a0c;*/
  padding: 10px;
  padding-top: 25px;
  background: rgba(247, 106, 12, 0.2);
  font-weight: 200;
  font-style: italic;
  font-size: 1.1em;
  color: #444;
  text-align: right;
  line-height: 1.4; }

/* ############################################## WIDGET AREA: WYDARZENIA */
article#wydarzenia h5.event-date {
  margin-bottom: 0px;
  padding: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #f76a0c;
  border-bottom: 1px solid #f76a0c;
  text-align: left;
  font-size: 17px; }

article#wydarzenia h5 {
  margin-top: 5px; }

article#wydarzenia .btn {
  margin-top: 10px;
  padding: 10px; }

article#wydarzenia a.btn {
  color: #efefd0;
  background-color: #c01d2e; }

#wydarzenia .content img {
  padding-top: 5px;
  padding-bottom: 5px; }

#wydarzenia .content .title {
  font-size: 16px; }

@media screen and (max-width: 1024px) {
  #wydarzenia .content img {
    width: 80px; } }
/* ############################################## WIDGET AREA: MOST COMMENTED */
article#most-commented h5 a:first-child {
  color: gray; }

article#most-commented .content {
  margin: auto 40px; }

article#last-comments .content {
  text-align: left; }

article#last-comments .content a {
  color: #004e89; }

article#last-comments .author {
  color: gray; }

article#last-comments .date {
  font-size: 0.7em;
  margin-top: 10px; }

article#last-comments .comment {
  font-style: italic;
  color: green; }

article#last-comments ul {
  margin-left: 0;
  padding-left: 20px;
  list-style-type: none; }

/* ############################################## WIDGET AREA: CURRENT-ISSUES */
article#current-issues ul {
  margin-left: 0;
  padding-left: 20px;
  list-style-type: none; }

article#current-issues li {
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F96A0E; }

article#current-issues img {
  display: block;
  margin: 0 auto;
  padding: 10px; }

article#current-issues a:hover {
  text-decoration: underline !important; }

#secondary {
  margin: auto 30px; }

footer {
  margin-top: 30px;
  padding: 15px;
  background-color: gray;
  text-align: center; }

footer a, footer a:hover {
  text-decoration: none;
  color: #333 !important; }

/* ####################################### SINGLE */
.post-content p,
.post-content div {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  color: #7a7a7a;
  line-height: 1.8; }

.post-content h3 {
  font-size: 1.3em;
  color: #f76a0c; }

.post-content li {
  font-size: 16px;
  color: #7a7a7a;
  line-height: 1.6; }

.post-content blockquote p {
  font-style: italic;
  font-size: 0.9em; }

.post-content blockquote {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(192, 29, 46, 0.1);
  border-left: 5px solid #c01d2e; }

.single-page .post-content {
  margin-left: 20px;
  margin-right: 20px; }

.single-page .content {
  text-align: left !important; }

.previous-content h2,
.previous-content h3 {
  color: #777;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px; }

/* ####################################### GALERIA */
#page_single_gallery .navigation-desc {
  color: #555;
  line-height: 1.1em;
  font-weight: 300;
  margin: 0; }

#page_single_gallery .navigation-title {
  margin: 0;
  color: #F76A0C; }

#page_single_gallery article {
  padding-bottom: 10px; }

#page_single_gallery .post-navigation .nav-previous {
  display: block; }

#page_single_gallery ol.breadcrumb {
  margin-left: 0;
  background-color: #FAFAFA; }

#page_single_gallery ol.breadcrumb li a:hover {
  text-decoration: underline !important; }

#page_single_gallery .gallery-buttons .btn {
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  white-space: normal; }

#page_single_gallery .button-prev {
  float: left;
  width: 40%; }

#page_single_gallery .button-next {
  float: right;
  width: 40%;
  text-align: right; }

#page_gallery .thumb-description .date {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0; }

#page_gallery .thumb-description .title {
  font-size: 1.3em;
  color: #F76A0C;
  margin-left: 0px;
  line-height: 1.0em; }

#page_gallery .thumb-description a .title:hover {
  text-decoration: underline; }

#page_single_gallery .foogallery-container.foogallery-justified {
  margin-right: 0;
  margin-left: 0; }

/* ####################################### PAGE-ALL-EVENTS */
#page-all-events h5 {
  border-top: 1px solid #EFEFD0; }

#page-all-events .event-date {
  font-size: 16px;
  background-color: #EFEFD0;
  margin-left: 0px;
  margin-right: 5px;
  color: #F56A0C;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block; }

#page-all-events .event-title {
  margin-left: 10px;
  font-size: 16px;
  display: inline-block; }

#page-all-events .image img {
  padding: 5px; }

#page-all-events a:hover,
#page-all-events a:hover p {
  color: #23527c; }

#page-all-events p {
  line-height: 18px;
  font-weight: 300; }

#page-all-events .calendar-excerpt {
  display: inline-block; }

@media screen and (max-width: 991px) {
  #page-all-events .image {
    display: none; } }
/* ####################################### LIGHTBOX */
.sl-wrapper button, .sl-wrapper .sl-counter {
  background-color: #f7a975;
  height: 40px !important;
  width: 40px !important;
  line-height: 40px !important; }

.sl-wrapper .sl-counter {
  text-align: center;
  color: #444;
  text-shadow: 1px 1px 2px #fff;
  border-radius: 3px; }

/* ####################################### PAGINATION */
.custom-pagination {
  margin: 20px auto;
  color: #c01d2e; }

.custom-pagination a.page-numbers:hover {
  color: gray !important; }

.custom-pagination .page-numbers {
  border: 1px solid #004e89;
  padding: 5px;
  background-color: #004e89;
  color: #fff;
  margin: 5px; }

.custom-pagination .page-numbers.current {
  border: 1px solid #f76a0c;
  padding: 5px;
  background-color: #f76a0c; }

.custom-pagination .next.page-numbers,
.custom-pagination .prev.page-numbers,
.custom-pagination .page-numbers.dots {
  border: none;
  background-color: #FAFAFA;
  color: #333; }

/*# sourceMappingURL=mystyle.css.map */
