/* ###################################### FRONT-PAGE */

section.welcome-screen {
	position: relative;

	margin-top: 15px;
	margin-bottom: 0;
	min-height: 300px;

	#navigation-mobile {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.logo {
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 100;
		img {
			display: block;
		}
	}

	.sentence {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 100;
		width: 100%;

		text-align: right;
		padding: 20px;
		padding-left: 10%;

		color: #fff;
		font-size: 18px;
		font-weight: 200;
		font-style: italic;

		background: rgba(249, 106, 14, 0.75)
	}
}

#main-container {
	margin-top: 105px;
}

.admin-bar section.welcome-screen #navigation-alfa {
	top: 32px;
}

.beta-sticked {
	position: fixed !important;
	bottom: auto !important;
}

@media screen and (max-width: 991px) {
	section.welcome-screen {
		padding-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	#main-container {
		margin-top: 0;
	}
	.secondary-nav-pattern {
		display: none;
	}
	.navbar-collapse {
		overflow-y: visible !important;
	}

	.mobile-fix {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media screen and (max-width: 600px) {
	section.welcome-screen .logo {
		width: 100px;
	}
	section.welcome-screen .sentence {
		font-size: 14px;
	}
}

@media screen and (max-width: 425px) {
	section.welcome-screen .sentence {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	section.welcome-screen .logo {
		top: 25px;
		width: 70px;
	}
}

